
body {
    background: radial-gradient(circle at right, rgba(25, 23, 68, 1), rgba(3, 2, 28, 1));
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

:root{
    --red: #f41052;
    --violeta: #8260FF;
    --boton: #2D2E40;
    --cont1: #2D2E4030;
    --cont2: #2E1B7230;
    --text2: #8385B3;
    --fondo: #03021C;
    --footer: #0B0B23;
}

h1 {
    font-size: clamp(45px, 5vw, 65px);
    margin: 0;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    color: white;
}

h2{ 
    font-size: clamp(30px, 4vw, 50px); 
    margin: 0; 
    font-family: "Lato", sans-serif; 
    font-weight: 900; 
    color: white; 
} 

h3{ 
    font-size: clamp(16px, 2vw, 20px); 
    margin: 0; 
    font-family: "Lato", sans-serif; 
    font-weight: 900; 
    color: white; 
}

h4{ 
    font-size: clamp(13px, 2vw, 15px); 
    margin: 0; 
    font-family: "Lato", sans-serif; 
    font-weight: 300; 
    color: white; 
}

h5{ 
    font-size: clamp(10px, 2vw, 13px); 
    margin: 0; 
    font-family: "Lato", sans-serif; 
    font-weight: 300; 
    color: white; 
}

ul{
     list-style: none; 
    margin: 0; 
    padding: 0; 
}

strong{
    font-weight: 400;
}

a {
    color: white;
    outline: none;
    box-shadow: none;
    text-decoration: none;
    font-size: clamp(12px, 2vw, 15px);
    font-weight: 400;
}

p{
    font-size: clamp(10px, 2vw, 14px);
    font-family: "Lato", sans-serif; 
    font-weight: 300; 
    margin: 0; 
    color: var(--text2);
}

/*------------------------Navegador----------------------*/

#menu {
    background: linear-gradient(
        to bottom,
        rgba(0,0,0,0.85),
        rgba(0,0,0,0)
    );
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    padding-bottom: 14px;
}

.logo {
    width: 48px;
}

/* ================= MENÚ DESKTOP ================= */

.nav-menu {
    background: rgba(0,0,0,0.35);
    padding: 10px 6px;
    border-radius: 40px;
    backdrop-filter: blur(8px);
    border: 1px solid var(--boton);
}

.nav-menu a {
    padding: 8px 18px;
    border-radius: 25px;
    transition: 0.3s;
}

.nav-menu a:hover,
.nav-menu a.active {
    background: var(--boton);
}

/* LOGIN CTA */
#Accesos li:first-child a {
    background: var(--red);
}


.btn-menu {
    background: none;
    border: none;
    padding: 0;
}

.btn-menu img {
    width: 28px;
}

/* ================= MENÚ MOBILE ================= */

.mobile-nav {
    position: fixed;
    inset: 0;
    background: linear-gradient(
        to bottom,
        rgba(0,0,0,0.95),
        rgba(3,2,28,0.95)
    );
    backdrop-filter: blur(10px);
    transform: translateY(-100%);
    transition: 0.4s ease;
    z-index: 9998;
}

.mobile-nav.active {
    transform: translateY(0);
}

/*------------------------Header----------------------*/

#header {
    background: radial-gradient(circle at bottom,
        rgba(74, 50, 195, 0.6) 0%,
        rgba(3, 2, 28, 1) 50%);
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header2 {
    background: radial-gradient(circle at bottom,
        rgba(231, 6, 96, 0.6) 0%,
        rgb(32, 0, 22) 50%);
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    #header {
        padding-top: 150px
    }
}

#presentacion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.marca {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--red);
    padding: 5px 20px;
    margin-top: 10px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.marca:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 30px rgba(255, 43, 74, 0.35);
    color: #fff;
}

.redes {
    background-color: var(--cont1);
    padding: 5px 30px;
    border-radius: 10px;
    border: 1px solid var(--boton);
}

#Logo img {
    max-width: 100%;
    top: -0px;
    height: auto;
}

/*------------------------Marcas----------------------*/

.marcas_carrusel {
    width: 100%;
    overflow: hidden;
    padding: 25px;
    border: 1px solid var(--boton);
    background: linear-gradient(
    90deg,
    #5E39AD 0%,
    #070A29 50%,
    #1C1947 100%
    );
}

#slide_marcas {
    display: inline-flex;
    align-items: center;
    gap: 50px;
    padding: 0;
    margin: 0;
}

#slide_marcas h3{
    font-weight: 900;
    opacity: 30%;
}

#slide_marcas img {
    height: 40px;
    width: auto;
}

#slide_marcas li {
    display: inline-flex;
    align-items: center;
    margin-right: 40px;
}

#slide_marcas li:nth-child(8) {
    margin-right: 500px;
}

/*------------------------portadas----------------------*/

.portada-link {
    display: block;
}

.portada-img {
    width: 100%;
    height: auto;
    border-radius: 16px;
    transition: transform .3s ease, box-shadow .3s ease;
}

.portada-link:hover .portada-img {
    transform: scale(1.02);
    box-shadow: 0 10px 30px rgba(0,0,0,.25);
}

/* ================= TÍTULO ================= */

.titulo-seccion { 
    color: white;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    white-space: nowrap;
}

.linea-seccion {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
}



/*------------------------Footer----------------------*/

.footer {
    background: var(--footer);
}

.footer-logo {
    width: 45px;
}

.footer_separacion {
    width: 1px;
    height: 35px;
    background: rgba(255, 255, 255, 0.3);
    margin: 0 20px;
}

.footer_menu a {
    transition: 0.3s ease;
}

.footer_menu a:hover {
    color: var(--violeta);
}

.footer a img {
    width: 22px;
    opacity: 0.9;
    transition: 0.3s ease;
}

.footer a img:hover {
    opacity: 1;
    transform: scale(1.1);
}